server {
    root /home/<<folder>>/public_html;

    index index.html index.htm index.nginx-debian.html;

    server_name www.aoldoni.com;

    location / {
        try_files $uri $uri/ =404;
    }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/aoldoni.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/aoldoni.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    root /home/<<folder>>/public_html;

    index index.html index.htm index.nginx-debian.html;

    server_name aoldoni.com;

    return 301 https://www.$host$request_uri; # managed by Certbot

    #listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/aoldoni.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/aoldoni.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name aoldoni.com www.aoldoni.com;
    return 301 https://$host$request_uri; # managed by Certbot
}